.main
 margin-top: 10rem
 padding-bottom: 5rem
 overflow-x: hidden
 &__wrap
  list-style: none
  font-size: 0
  &-left
   display: inline-block
   vertical-align: top
   font-size: 1rem
   width: 50%
  &-title
   @include gradient
   font-size: 5rem
   line-height: 0.8
   max-width: 700px
  &-right
   display: inline-block
   vertical-align: top
   font-size: 1rem
   width: 50%
   text-align: center
  &-content
   width: 50%
   position: relative
   display: inline-block
  &-text
   position: absolute
   top: 0
   left: 0
   width: 100%
   animation: rotating 10s linear infinite
  &-year
   position: absolute
   top: 0
   left: 0
   width: 100%

@keyframes rotating
 0%
  transform: rotate(0deg)
 to
  transform: rotate(1turn)

.carousel
   display: flex
   position: relative
   margin-top: 6rem
   &__item
      background-color: #2b3147
      height: 27rem
      width: 374px
      color: #b5a8dd
      display: flex
      flex-direction: column
      justify-content: space-between
      position: relative
      overflow: hidden
      padding: 1.875rem
      transition: color .6s cubic-bezier(.35,.755,.42,.95),background .6s cubic-bezier(.35,.755,.42,.95)
      margin-right: 20px
      &:hover .carousel__item-bg
         opacity: .5
         transform: scale(1) 
      &:hover .carousel__item-rail
         opacity: .5
         transform: translateY(0)
      &-bottom
         font-size: 1.6rem
         font-weight: 400
         margin: 0
         line-height: .9
      &-top
         display: flex
         justify-content: space-between
         line-height: 1
         &-bignumber
            font-size: 10.5rem
            letter-spacing: -10px
         &-smallnumber
            font-size: 1.9rem
      &-rail
         position: relative
         overflow: hidden
         transition: opacity .6s cubic-bezier(.35,.755,.42,.95),transform .6s cubic-bezier(.35,.755,.42,.95)
         opacity: 0
         transform: translateY(100%)
         &-content
            display: inline-block
            position: relative
            animation: railStatic 12s linear infinite
            &-label
               line-height: 1
               display: inline-block
               text-transform: uppercase
               position: relative
               font-weight: 400
               color: #b5a8dd
               padding-right: 4rem
               font-size: 4rem
      &-center
         white-space: nowrap
         font-size: 0
         display: flex
         position: absolute
         left: 0
         right: 0
         bottom: 50%
         transform: translateY(90%)
         overflow: hidden
      &-bg
         position: absolute
         top: 0
         left: 0
         right: 0
         bottom: 0
         background-size: cover
         background-repeat: no-repeat
         background-position: top
         opacity: 0
         transition: transform .6s cubic-bezier(.35,.755,.42,.95),opacity .6s cubic-bezier(.35,.755,.42,.95)
         transform: scale(1.15) rotate(-5deg)
   &__left
      width: 33.333333333%
      &-text
         font-size: 1.8rem
         font-weight: 400
         max-width: 250px
         margin-bottom: 1.5rem
      &-content
   &__right
      cursor: grab
      width: 66.66666667%
      